html,
body {
  padding: 0;
  margin: 0;
  background-color: #3b0944;
}

body {
  font-family: sans-serif;
}

.hero {
  background-color: #77149e;
  color: white;
  padding: 50px 30px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to left, rgb(230, 154, 230), purple);
}

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, rgb(230, 154, 230), purple);
}

.hero h1 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-nav a {
  text-decoration: none;
  padding: 9px;
  color: #1abb9c;
  border: 1px solid #1abb9c;
  border-radius: 4px;
  margin: 4px;
}

.filter-nav a:hover {
  background-color: #25f8ce;
}

.filter-nav .active {
  background-color: #1abb9c;
  color: white;
}

.filter-nav .active:hover {
  background-color: #1abb9c;
  cursor: default;
}

.animals {
  max-width: 700px;
  margin: 0 auto;
}

.animal-card {
  display: grid;
  grid-template-columns: 100%;
  background-color: #f7f7f7;
  border-radius: 20px;
  overflow: hidden;

  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.animal-card-photo {
  order: 1;
  grid-row: 1;
  overflow: hidden;
}

.animal-card-photo img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: fill;
  transition: transform 0.3s ease-in-out;
}

.animal-card-text {
  padding: 20px 25px;
}

.animal-card-text h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.8rem;
}

.animal-card-text small {
  color: gray;
}

.animal-card-text p {
  margin: 0.8rem 0;
  padding: 0;
  line-height: 1.5;
}

.primary-btn {
  background-color: #5d106b;
  padding: 10px;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.primary-btn:hover {
  background-color: #761188;
}

.only-large-screen {
  display: none;
}

@media screen and (min-width: 768px) {
  .animal-card {
    grid-template-columns: 200px 1fr;
    margin: 0;
    margin-bottom: 2rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .only-large-screen {
    display: inline;
  }

  .animal-card-photo img {
    object-fit: cover;
  }

  .animal-card:hover img {
    transform: rotate(20deg) scale(1.4);
  }
}
